label{
    color: rgb(128, 121, 121);
    font-size: 1.3rem;  
    display: flex;
}
input{
    margin: 8px 0;
    padding: 7px 10px;
    width: 100%;
    border: 2px solid rgb(223, 215, 215);
    border-radius: 8px;
    font-size: 1.2rem;
    color: dimgray;
    transition: 0.2s ease-in-out;
}
::placeholder{
    color: rgb(185, 182, 182);
}
input:focus{
    outline: none;
    border: 2px solid dimgray;
}
.alert{
    text-align: start;
    color: red;
    font-size: 0.7rem;
    padding-bottom: 6px;
}
.alert-border{
    border: 2px solid red;
}